@use './variables';

.sidebar{
    width: 265px;
    height: 400px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    margin-right: 20px;
    border-radius: 5px;
    @media (max-width: 850px) {
        display: none;
    } 
    &__nav{
        //padding: 2rem 0;
        flex: 1 1 auto;
    }&__link{
        padding: .999rem 1.625rem;
        color:variables.$dark-very-dark;
        font-weight: 500;
        display: block;
        font-size: 0.9rem;
        white-space: nowrap;
        border-left: 3px solid transparent;
        & i{
            font-size: 1.1rem;
            margin-right: .75rem;
           
        }&:hover{
            color:variables.$color-primary;
        }&-active{
            color:variables.$color-primary;
        }
    }
}